*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container{
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: grid;
  place-items: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* border: 2px solid green; */
}

.read-the-docs {
  color: #888;
}

.val{
  background-color: #f1f1f1;
  color: #222;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}