#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  background-color: #333;
  padding: 1.5rem 3rem;
  text-align: center;
  border-radius: 15px;
}

.generator {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: grid;
  gap: 1rem;
}

h1{
  font-size: 3rem;
  margin-block-start: 0em;
}

p {
  margin: 10px 0;
  display: flex;
  gap: 1rem;
}

span{
  width: 6rem;
}

input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

input[type="range"] {
  width: calc(100% - 6rem);
}

.btns {
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

input[type="checkbox"]:last-child {
  margin-left: 2rem;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

button:active{
  background-color: rgb(23, 88, 23);
}